<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-grid>


      <ion-row class="ion-margin">
        <ion-col style="display: flex; justify-content: center;">
          <ion-avatar>
            <img [src]="avatarImage">
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">First name</ion-label>
            <ion-input type="text" formControlName="name" autocomplete="off"></ion-input>
          </ion-item>
          <ng-container *ngIf="name().invalid && (name().dirty || name().touched)">
            <ion-text color="danger">
              <small>Provide a name</small>
            </ion-text>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" formControlName="email" autocomplete="off"></ion-input>
          </ion-item>
          <ng-container *ngIf="email().invalid && (email().dirty || email().touched)">
            <ion-text color="danger">
              <small>Email must be a valid email</small>
            </ion-text>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password" autocomplete="off"></ion-input>
          </ion-item>
          <ng-container *ngIf="password().invalid && (password().dirty || password().touched)">
            <ion-text color="danger">
              <small>Password must have at least 6 characters</small>
            </ion-text>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="display: flex; justify-content: center;">
            <ion-button type="submit" >
              Sign Up
            </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>