<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" name="email" [(ngModel)]="data.email" placeholder="Email..." autocomplete="off"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="password" name="password" [(ngModel)]="data.password" placeholder="Password..." autocomplete="off"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-button (click)="login()">
            Ingresar
          </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>